<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>datosclase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">datosclase nose</ion-title>
    </ion-toolbar>
  </ion-header>
=======
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
      <ion-title size="large">Credenciales:</ion-title>
      <p>{{ qrResultString }}</p>
      <p>Coordenadas:</p>
      <p>{{ currentLocation }}</p>

    </ion-toolbar>
</ion-content>
