<app-back-button titulo="Datos Clase"></app-back-button>

<ion-content>
    <ion-toolbar>
      <div>
        <ion-title size="large">Nombre: </ion-title><p>{{ nombre }}</p>
        <ion-title size="large">Apellido: </ion-title><p>{{ apellido }}</p>
        <ion-title size="large">Usuario: </ion-title><p>{{ usuario }}</p>
        <ion-title size="large">Carrera: </ion-title><p>{{ carrera }}</p>
      </div>
      <ion-title size="large">Datos Clases:</ion-title>
      <p>{{ qrResultString }}</p>
      <p>Coordenadas:</p>
      <p>{{ currentLocation }}</p>

    </ion-toolbar>
</ion-content>
