<app-back-button titulo="Datos Clase"></app-back-button>

<ion-content>
    <ion-toolbar>
      <ion-grid>
        <ion-col size="12" class="ion-text-center">
          <div>
            <h1>Nombre:</h1><h1>  {{ nombre }}</h1>
          </div>
          <div>
            <h1 size="large">Apellido: </h1><h1>{{ apellido }}</h1>
          </div>
          <div>
            <h1 size="large">Usuario: </h1><h1>{{ usuario }}</h1>
          </div>
          <div>
            <h1 size="large">Carrera: </h1><h1>{{ carrera }}</h1>
          </div>
        </ion-col>
      </ion-grid>
      <h1 size="large">Datos Clases:</h1>
      <h1>{{ qrResultString }}</h1>
      <h1>Coordenadas:</h1>
      <h1>{{ currentLocation }}</h1>

    </ion-toolbar>
</ion-content>
