<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>resetPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card> 
    <ion-card-content>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <ion-button (click)="reset()" expand="full">Enviar por correo</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
