<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="logOut()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-card (click)="menuUno()">
    <h3>Menú uno</h3>
  </ion-card>
  <ion-card (click)="menuDos()">
    <h3>Menú dos</h3>
  </ion-card>
  <ion-card>
    <h3>Menú tres</h3>
  </ion-card> -->


    <ng-container *ngIf="!loading">
      <ng-container *ngFor="let menu of arrayMenu">
        <ion-card class="menuEnabled" [routerLink]="menu.url" *ngIf="!menu.disabled">
          <div class="box">
            <ion-icon size="large" [name]="menu.icono"></ion-icon>
            <h3>{{menu.titulo}}</h3>
          </div>
        </ion-card> 

         <ion-card class="menuDisabled" *ngIf="menu.disabled">
          <div class="box">
            <ion-icon size="large" [name]="menu.icono"></ion-icon>
            <h3>{{menu.titulo}}</h3>
          </div>
        </ion-card> 
      </ng-container>
    </ng-container>


      <ng-container *ngIf="loading"> 
        <div class="boxSkeleton" *ngFor="let item of [1,2,3,4,5]">
          <ion-skeleton-text [animated]="true" class="skeleton"></ion-skeleton-text>
        </div>
      </ng-container>

        


  <ion-button (click)="play()">Play</ion-button>
  <ion-button (click)="pause()">Pause</ion-button>
  <ion-button (click)="stop()">Stop</ion-button>
</ion-content>
