<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">404 Not Found</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12"><h1>¡Ups!</h1></ion-col>
      <ion-col size="12"><h3>La página que estás buscando no se encuentra.</h3></ion-col>
      <ion-col size="12"><img src="https://dinahosting.com/blog/upload/2021/03/error-404.jpg" alt="Error 404"></ion-col>
      <ion-col size="12"><ion-button routerLink="/login">Ir a inicio</ion-button></ion-col>
    </ion-row >
  </ion-grid>
</ion-content>
